<%- include("./header") %>

<section class="top-part reveal">
  <img src="/img/placeholders/usinage3.jpg" />
  <div class="right-part">
    <h1><%= offre.intitule %></h1>
    <span><%= offre.type %></span>
    <h2>Présentation de l'entreprise</h2>
    <p class="presentation-texte"><%= offre.presentation %></p>
  </div>
</section>

<main>

  <% if (offre.missions !== ""){ %>
    <div class="mission reveal">
      <h2>Vos missions</h2>
      <p><%- offre.missions %></p>
    </div>
  <% } %>

  <% if (offre.compentences !== ""){ %>
    <div class="compétences reveal">
      <h2>Compétences recherchées</h2>
      <p><%- offre.competences %></p>
    </div>
  <% } %>


  <% if (avantageE == 1 && offre.avantages !== ""){ %>
    <div class="avantage reveal">
      <h2>Avantage</h2>
      <p><%- offre.avantages %></p>
    </div>
  <% } %>
  

  <% if (recrutementE == 1 && offre.recrutement !== ""){ %>
    <div class="recrutement reveal">
      <h2>Processus de recrutement</h2>
      <p><%- offre.recrutement %></p>
    </div>
  <% } %>
  

  <% if (infosE == 1 && offre.infos_complementaires !== ""){ %>
    <div class="complementaire reveal">
      <h2>Informations complémentaires</h2>
      <p><%- offre.infos_complementaires %></p>
    </div>
  <% } %>


  <div class="postuler">
        <form method="POST" action="/modifier_offre_access">
            <input name="offre_id" type="hidden" value="<%= offre.offre_id %>"/>
            <button class="modifier" type="submit">
                Modifier l'offre
            </button>
        </form>
    </div>
</main>

<%- include("footer") %>
