<%- include("header") %>


<section class="top-holder">
    <div class="right-side">
        <h1>Rejoignez notre équipe !</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
            velit esse cillum dolore eu fugiat nulla pariatur. 
        </p>
    </div>

    <div class="right-part">
        <img src="/img/placeholders/usinage1.png">
    </div>

</section>


<% if (offres.length == 0){ %>
    <p> Désolé, nous n'avons actuellement pas d'offres d'emplois</p>
    <div class="ajouter-holder">
        <a href="/ajoutoffre" class="ajouter">
            Ajouter une offre
        </a>
    </div>
<% } else{ %>
    <div class="ajouter-holder">
        <a href="/ajoutoffre" class="ajouter">
            Ajouter une offre
        </a>
    </div>
    
    <section class="categorie">
        
            <div class="categories">
                <h2>Rechercher par catégorie</h2>
                <p>Trouvez le job qui vous correspond le mieux</p>

                <div class="categorie-holder">
                    <a href="/admin/offres?categorie=all" class="tri-item all <%= (categorieChoisie === 'all') ? ' active' : '' %>">
                        Tous
                    </a>
                    <% for (const element of categories){ %>
                        <a href="/admin/offres?categorie=<%= element.categorie %>" 
                        class="tri-item <%= (categorieChoisie === element.categorie) ? ' active' : '' %>">
                            
                            <h3><%= element.categorie %></h3>
                            <% if (element.nombre_offres > 1){ %>
                                <p><%= element.nombre_offres %> jobs trouvés</p>
                            <% } else { %>
                                <p><%= element.nombre_offres %> job trouvé</p>
                            <% } %>
                        </a>
                    <% } %>
                </div>
            </div>
        
    </section>




    <section class="offres-holder">
        <% for (const element of offres){ %>
            <div class="offre">
                <div class="offre-id-holder">
                    <p><span><%= element.offre_id %></span></p>
                </div>

                <div class="main-infos-holder">
                    <%= element.intitule %>

                    <div class="type-holder">
                        <i class="fa-regular fa-newspaper" style="color: rgb(39, 34, 200);"></i>
                        <p><%= element.type %></p>
                    </div>
                    <div class="localisation-holder">
                        <img src="/img/icons/localisation_gris.svg">
                        <p> <%= element.localisation %> </p>
                    </div>
                </div>
                <div class="button-holder">
                    <form method="POST" action="/admin/consulter_offre">
                        <input name="offre_id" type="hidden" value="<%= element.offre_id %>"/>
                        <button class="consulter" type="submit">
                            Consulter l'offre
                        </button>
                    </form>


                    <form method="POST" action="/modifier_offre_access">
                        <input name="offre_id" type="hidden" value="<%= element.offre_id %>"/>
                        <button class="modifier" type="submit">
                            Modifier l'offre
                        </button>
                    </form>


                    <form method="POST" action="/supprimer_offre" onsubmit="return confirmSuppression(event)">
                        <input name="offre_id" type="hidden" value="<%= element.offre_id %>"/>
                        <button class="supprimer" type="submit">
                            Supprimer l'offre
                        </button>
                    </form>
                </div>
                
                
            </div>
        <% } %>
    </section>


<% } %>




<script>
    function confirmSuppression(e) {
        const confirmation = confirm("Tu es sûr de vouloir supprimer cette offre ?");

        if (!confirmation) {
            e.preventDefault();
            return false;
        }

        return true;
    }
</script>